- if episode
  .row
    .col-md-12
      .episode-header.bg-dark.text-white.text-center
        %h2.header.text-white.font-weight-light.display-4
          = episode.title
      .video
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/#{episode.youtube_key}"}
  .row
    .col-md-12
      .player
        - #= render "shared/webplayer", webplayer_config: PodigeeWebplayerConfigBuilder.new(episode, title: true).to_json
