-# https://github.com/podigee/podigee-podcast-player/blob/master/docs/configuration.md


%script.podigee-podcast-player{"data-configuration" => webplayer_config, :src => "https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js"}
