- content_for(:html_title) { @episode.title }
- content_for(:meta_tags) do
  %meta{ property: "og:type",        content: "article" }
  %meta{ property: "og:title",       content: @episode.title }
  %meta{ property: "og:url",         content: @episode.episonde_url }
  %meta{ property: "og:description", content: truncate(@episode.description, omission: "", separator: " ",length: 120).squish }
  %meta{ property: "og:image",       content: @episode.artwork_url(size: 200), itemprop: "image" }
  %meta{ property: "og:audio",       content: @episode.mp3_url }

= render "shared/episode_show", episode: @episode

.site-section.bg-light
  .container-fluid
    .row
      .col-12
        %h3
          Beschreibung
        = render_markdown @episode.description
        %br
        %h3
          Show Notes
        .show-notes
          = render_markdown @episode.nodes

- if current_user&.admin?
  .p.mt-3
    = edit_button  edit_admin_episode_path @episode
