- cache_if !current_user&.admin?, @episode do
  = render "shared/episode_show", episode: @episode

  .site-section.bg-light
    .container-flex
      .row.mb-5{"data-aos" => "fade-up"}
        .col-md-12
          %h3.text-center
            Beschreibung

          .description.text-center
            = render_markdown @episode.description

      .row.mb-5{"data-aos" => "fade-up"}
        .col-md-12
          %h3.text-center
            Show Notes
          .description.text-center
            = render_markdown @episode.nodes

  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path @episode
