


-# %h3 Beschreibung
-# .p
-#   = render_markdown @episode.description

-# %audio{:controls => ""}
-#   %source{:src => @episode.mp3_url, :type => "audio/mpeg"}
-#   Your browser does not support the audio element.


-# - if  @episode.nodes.present?
-#   %h3 Show Nodes
-#   #show-node.card
-#     = render_markdown @episode.nodes

-# - if current_user&.admin?

-#   .p.mt-3
-#     = edit_button  edit_admin_episode_path @episode

.site-blocks-cover.overlay.inner-page-cover{"data-aos" => "fade", "data-stellar-background-ratio" => "0.5", :style => "background-image: url(images/hero_bg_2.jpg);"}
  .container
    .row.align-items-center.justify-content-center.text-center
      .col-md-8{"data-aos" => "fade-up", "data-aos-delay" => "400"}
        %h2.text-white.font-weight-light.mb-2.display-4 Episode 06: How To Create Web Page Using Bootstrap 4
        .text-white.mb-3
          %span.text-white-opacity-05
            %small
              By Mike Smith
              %span.sep /
              16 September 2017
              %span.sep /
              1:30:20
.container.site-section
  .player.mb-5
    %audio#player2{:controls => "", :preload => "none", :style => "max-width: 100%"}
      %source{:src => "http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3", :type => "audio/mp3"}
  .row.justify-content-center
    .col-md-7
      %p
        %strong.font-weight-bold.font-weight-bold Matt:
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde labore fugit earum beatae, qui autem asperiores harum quibusdam nulla in suscipit iure consequatur, laborum, inventore libero odit rem, dolore. Itaque?
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Ea ipsum, libero exercitationem, quisquam magnam blanditiis facere sapiente sequi esse totam quaerat obcaecati ab ratione ex dignissimos quae ullam dolore veniam minima! Et accusamus distinctio ipsa. Hic, repellat blanditiis!
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Exactly!
      %p
        %strong.font-weight-bold.font-weight-bold Matt:
        Nisi hic non odio repellendus quia saepe, aliquid, deleniti. Quas neque dolorum, aspernatur excepturi sapiente maxime cumque rerum veniam doloribus qui ad deserunt non nulla, iure incidunt sint sequi nesciunt.
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Maiores incidunt non esse doloremque. Ullam quidem aut aspernatur dolorem expedita, repellendus recusandae incidunt, laboriosam quaerat delectus dolorum minima doloribus ipsa facilis consequatur doloremque vero animi numquam, dolor illo! Facilis.
      %p
        %strong.font-weight-bold.font-weight-bold Matt:
        Sit reprehenderit dolor expedita non temporibus veritatis, saepe odio obcaecati culpa reiciendis, similique eos hic iure, odit ut iusto magnam quo praesentium. Eos dolores reprehenderit eaque consectetur sequi dolore quis?
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Sequi amet itaque molestiae, odio nihil nemo aspernatur reiciendis veritatis, quis obcaecati deserunt minima natus. Odit, dolorem quisquam perferendis reprehenderit, cupiditate eos quaerat assumenda voluptates a debitis fugiat tempora, voluptatem.
      %p
        %strong.font-weight-bold.font-weight-bold Matt:
        Necessitatibus veritatis natus facere sit tempore odit reiciendis magni non aliquam cupiditate est dicta impedit quam quos quae vero sed recusandae consectetur, eum praesentium itaque voluptas, reprehenderit ducimus assumenda. Doloribus.
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Neque aliquam, debitis quas repellat totam deleniti tempora cum temporibus? Dignissimos numquam, magnam fugiat odit, fugit exercitationem saepe dolores ipsum. Similique numquam sequi nulla hic fugiat maiores, commodi aperiam dolorum.
      %p
        %strong.font-weight-bold.font-weight-bold Matt:
        Impedit, inventore, nesciunt? In laboriosam optio mollitia dolores temporibus deserunt, enim assumenda facilis quas blanditiis qui omnis unde nam nostrum dolorum totam repellendus saepe quidem ad aperiam delectus. Cum, aspernatur!
      %p
        %strong.font-weight-bold.font-weight-bold John:
        Temporibus molestias in quae quasi officia quis obcaecati dolorem earum dignissimos voluptatum sunt aliquam laborum nesciunt deserunt beatae, ex possimus unde provident voluptates labore, exercitationem eius quisquam perspiciatis! Similique, facilis.
