- cache_if !current_user&.admin?, @episode do
  = render "shared/episode_show", episode: @episode

  .site-section.bg-light
    .container-fluid
      .row{"data-aos" => "fade-up"}
        .col-md-12
          .row.align-items-center
            .col-4
            .col-4.text-center
              %h3
                Beschreibung
              = render_markdown @episode.description



          .row.align-items-center.mt-5.show-nodes
            .col-4
            .col-4.text-center
              %h3
                Show Notes
              = render_markdown @episode.nodes




  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path @episode
