%h3 Player

#player.player



:javascript
  config = {"base": "js/player/"};

  epoisode = {
    title: "#{@episode.title}",
    //subtitle: 'test',
    //summary: 'summary',
    //publicationDate: 'podcast.date',
    poster: "#{@episode.artwork_url}",
    duration: '1234',
    audio: [{
        url: "#{@episode.mp3_url}",
        mimeType: 'audio/mp3',
        size: '123',
        title: 'Audio MP3'
    }],
    files: [{
    "url": "https://forschergeist.de/podlove/file/2017/s/webplayer/c/episode/fg072-verantwortung-in-der-informatik.m4a",
    "size": "71862603",
    "title": "Episode",
    "mimeType": "audio/mp4"
  }],
  contributors: []
  };

  window
  .podlovePlayer("#player",epoisode, config)
  .then(store => {
    store.subscribe(() => {
      console.log(store.getState());
    });
  });
