- cache_if !current_user&.admin?, @episode do
  - content_for(:html_title) { @episode.title }
  = render "shared/episode_show", episode: @episode
  #fb-root

  .site-section.bg-light

    .container-fluid
      .row{"data-aos" => "fade-up"}
        .col-12
          %h3
            Beschreibung
          = render_markdown @episode.description


          %h3
            Show Notes
          .show-notes
            = render_markdown @episode.nodes

          .align-items-right
            -# FACEBOOK SHAREBUTTON
            .fb-like{
              "data-action" => "like",
              "data-href" => @episode.episonde_url,
              "data-layout" => "standard",
              "data-share" => "true",
              "data-size" => "large",
              "data-width" => ""}

  - if current_user&.admin?
    .p.mt-3
      = edit_button  edit_admin_episode_path @episode
