- title = "Impressum"
- content_for(:html_title) { title }
.site-section.bg-light
  .container-fluid
    .row.mb-5
      .col-md-12
        %h1.text-center
          = title
        .description.text-center.pt-2
          TODO
