-# **************************
-# last episode
-# **************************
-# .site-blocks-cover.overlay{"data-aos" => "fade", "data-stellar-background-ratio" => "0.5",
-#  :style => "background-image: url(#{asset_pack_path('media/images/hero_bg_1.jpg')});"}
-#   -#= image_pack_tag('media/images/hero_bg_1.jpg')
-#   .container
-#     .row.align-items-center.justify-content-center.text-center
-#       .col-md-8{"data-aos" => "fade-up", "data-aos-delay" => "400"}
-#         %h2.text-white.font-weight-light.mb-2.display-4 Episode 09: How To Create Web Page Using Bootstrap 4
-#         .text-white.mb-4
-#           %span.text-white-opacity-05
-#             %small By Mike Smith | 16 September 2017 | 1:30:20
-#         %p
-#           %a.btn.btn-primary.btn-sm.py-3.px-4.small{:href => "episodes/002-anton-muller"} Read The Transcript
-#         .player
-#           %audio#player2{:controls => "", :preload => "none", :style => "max-width: 100%"}
-#             %source{:src => "http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3", :type => "audio/mp3"}
-# **************************
-#  episodes
-# **************************
.site-section.bg-light
  .container
    .row.mb-5{"data-aos" => "fade-up"}
      .col-md-12.text-center
        %h2.font-weight-bold.text-black Letzte Podcasts

    - @episodes.each do |episode|
      = render "shared/episode", episode: episode

  -# Pgination
  .container{"data-aos" => "fade-up"}
    .row
      .col-md-12.text-center
        .site-block-27
          %ul
            %li
              %a{:href => "#"} <
            %li.active
              %span 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} >
