-# **************************
-# background logo
-# **************************
.site-blocks-cover.overlay-welcome{"data-aos" => "fade",
 :style => "background-image: url(#{asset_pack_path('media/images/hp-bg-logo-950x600.jpg')});"}
  .container-fluid
    .row.align-items-center.justify-content-center.text-center
      .col-md-8{"data-aos" => "fade-up", "data-aos-delay" => "400"}

-# **************************
-#  episodes
-# **************************

.container
  .row
    .subscribe-buttons.col-md-12.text-center
      %button.btn.btn-light.rounded-pill{:type => "button"} Spotify
      %button.btn.btn-secondary{:type => "button"} Secondary
      %button.btn.btn-success{:type => "button"} Success

.site-section.bg-light
  .container
    .row.mb-5{"data-aos" => "fade-up"}
      .col-md-12.text-center
        %h2.font-weight-bold.text-black Letzte Episoden

    - @episodes.each do |episode|
      = render "shared/episode", episode: episode
