@import "bootstrap/scss/bootstrap";

$gray-1: #25262a;
$gray-2: #5c626e;
$gray-3: #c4c7ce;
$gray-4: #edf0f5;

/* Base */
@import "site-base";
/* Blocks */
@import "site-blocks";


a {
  color: $gray-1
}

a:hover {
  color: $gray-2
}
#top-alert {
  position: fixed;
  top: 0;
  z-index: 99999;
}

.show-nodes {
	li {
		text-align: left;
  }

  a:hover {
    color: blue;
  }
}
